*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(135deg, #232526, #414345);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: "Montserrat", sans-serif;

}

.container {
    width: 100%;
    background: transparent;
    max-width: 600px;
    padding: 2rem;
    box-shadow: 0 20px 40px rgba(0,0,0,0.35);
    border-radius: 1.50rem;
    user-select: none;
}

h1 {
    font-size: 2.2rem;
    font-weight: 600;
    margin-bottom: 2rem;
    color: white;
    letter-spacing: 1px;
    text-align: center;
    padding-right: 55px;
}

.input-area{
    display: flex;
    gap: 10px;
    margin-bottom: 2rem;
}

#input-box {
    flex: 1;
    padding: 15px 20px;
    border-radius: 1rem;
    border: none;
    outline: none;
    letter-spacing: 1px;
    font-size: 17px;
    color: white;
    background: linear-gradient(135deg, #2b2b2b, #4e4e4e, #7a7a7a);
}

#input-box::placeholder {
    color: rgb(241, 239, 239);
    opacity: calc(95%);
}

.add-btn {
    padding: 10px 20px;
    background: rgb(225, 224, 224);
    color: rgb(33, 33, 33);
    display: flex;
    align-items: center;
    border-radius: 1rem;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.7s ease;

}

.add-btn:hover {
    transform: scale(1.05);
}

ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 40px;
    cursor: pointer;
    position: relative;
    color: white;
}

ul li::before{
    content: '';
    position: absolute;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    left: 0px;
    top: 12px;
}

ul li.checked {
    color: #555;
    text-decoration: line-through;
    
}

ul li.checked::before {
    background-image: url(images/checked.png);
}

ul li span {
    position: absolute;
    right: 10px;
    transition: all 0.5s ease;
}

ul li span:hover {
    transform: scale(1.20);
}

